@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans&display=swap');

.ArtGallery {
  text-align: initial;
  padding: 2rem 1rem;
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 40px;
    margin: 0 40px 50px 40px;
  }
  h1 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 65px;
  }
  .controls {
    margin: 20px 0;
  }
}

.Art {
  border: 1px dashed #ffe381;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ffe381, 0 0 0 10px #fff,
    0 0 2px 10px #ffe381;
  padding: 40px;
  img {
    max-width: 100%;
    display: block;
  }
}
