.queen-card {
  opacity: 0;
}
.queen-card.slide-up {
  -webkit-animation: slide-up 500ms ease-in-out forwards;
          animation: slide-up 500ms ease-in-out forwards;
}
.queen-card:nth-child(1) {
  -webkit-animation-delay: calc(75ms + 80 * 1ms);
          animation-delay: calc(75ms + 80 * 1ms);
}
.queen-card:nth-child(2) {
  -webkit-animation-delay: calc(75ms + 80 * 2ms);
          animation-delay: calc(75ms + 80 * 2ms);
}
.queen-card:nth-child(3) {
  -webkit-animation-delay: calc(75ms + 80 * 3ms);
          animation-delay: calc(75ms + 80 * 3ms);
}
.queen-card:nth-child(4) {
  -webkit-animation-delay: calc(75ms + 80 * 4ms);
          animation-delay: calc(75ms + 80 * 4ms);
}
.queen-card:nth-child(5) {
  -webkit-animation-delay: calc(75ms + 80 * 5ms);
          animation-delay: calc(75ms + 80 * 5ms);
}
.queen-card:nth-child(6) {
  -webkit-animation-delay: calc(75ms + 80 * 6ms);
          animation-delay: calc(75ms + 80 * 6ms);
}
.queen-card:nth-child(7) {
  -webkit-animation-delay: calc(75ms + 80 * 7ms);
          animation-delay: calc(75ms + 80 * 7ms);
}
.queen-card:nth-child(8) {
  -webkit-animation-delay: calc(75ms + 80 * 8ms);
          animation-delay: calc(75ms + 80 * 8ms);
}
.queen-card:nth-child(9) {
  -webkit-animation-delay: calc(75ms + 80 * 9ms);
          animation-delay: calc(75ms + 80 * 9ms);
}
.queen-card:nth-child(10) {
  -webkit-animation-delay: calc(75ms + 80 * 10ms);
          animation-delay: calc(75ms + 80 * 10ms);
}
.queen-card:nth-child(11) {
  -webkit-animation-delay: calc(75ms + 80 * 11ms);
          animation-delay: calc(75ms + 80 * 11ms);
}
.queen-card:nth-child(12) {
  -webkit-animation-delay: calc(75ms + 80 * 12ms);
          animation-delay: calc(75ms + 80 * 12ms);
}
.queen-card:nth-child(13) {
  -webkit-animation-delay: calc(75ms + 80 * 13ms);
          animation-delay: calc(75ms + 80 * 13ms);
}
.queen-card:nth-child(14) {
  -webkit-animation-delay: calc(75ms + 80 * 14ms);
          animation-delay: calc(75ms + 80 * 14ms);
}
.queen-card:nth-child(15) {
  -webkit-animation-delay: calc(75ms + 80 * 15ms);
          animation-delay: calc(75ms + 80 * 15ms);
}
.queen-card:nth-child(16) {
  -webkit-animation-delay: calc(75ms + 80 * 16ms);
          animation-delay: calc(75ms + 80 * 16ms);
}
.queen-card:nth-child(17) {
  -webkit-animation-delay: calc(75ms + 80 * 17ms);
          animation-delay: calc(75ms + 80 * 17ms);
}
.queen-card:nth-child(18) {
  -webkit-animation-delay: calc(75ms + 80 * 18ms);
          animation-delay: calc(75ms + 80 * 18ms);
}
.queen-card:nth-child(19) {
  -webkit-animation-delay: calc(75ms + 80 * 19ms);
          animation-delay: calc(75ms + 80 * 19ms);
}
.queen-card:nth-child(20) {
  -webkit-animation-delay: calc(75ms + 80 * 20ms);
          animation-delay: calc(75ms + 80 * 20ms);
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
}
header h1 {
  width: 100%;
}
header h1 svg {
  width: 100%;
  height: 100px;
}
header h1 svg text {
  font-size: 5rem;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
  -webkit-filter: drop-shadow(2px 2px 2px #ffde00);
          filter: drop-shadow(2px 2px 2px #ffde00);
  stroke: #271466;
  stroke-width: 1;
  -webkit-animation: animate-stroke 3s ease-out forwards;
          animation: animate-stroke 3s ease-out forwards;
}

@-webkit-keyframes animate-stroke {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
  }
}

@keyframes animate-stroke {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
  }
}
/*# sourceMappingURL=main.css.map */