.MyBooks {
  padding: 2rem 1rem;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
}

/* Books Classes */
.booksContainer {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

  gap: 1rem;
  overflow: hidden;
}
.book {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(138, 138, 138);
  box-shadow: 5px 5px 18px 0px rgba(138, 138, 138, 0.75);
}
/* Button Classes */
.book button {
  align-items: flex-end;
}
.button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}
.button.remove {
  color: white;
  background: coral;
}
.button.submit {
  color: white;
  background: darkblue;
}
/* Input Form Classes */
.inputFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  label {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
    padding: 0.5em 1em;
    font: inherit;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
  }
}
