/* setup/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

body {
  background-color: #15cebe;
  color: #271466;
  font-size: 125%;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.wrapper {
  padding: 0 20px;
}

h1 {
  font-size: 5em;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 2px #ffde00;
}

h4 {
  margin-bottom: 0;
}

.queen-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.queen-card {
  width: 32%;
  background-color: #ff1192;
  margin-bottom: 20px;
  color: #ffde00;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 1em;
  padding-right: 1em;
}

@media (max-width: 900px) {
  .queen-card {
    width: 48%;
  }
}

h2 {
  padding-left: 0 20px;
}

@media (max-width: 480px) {
  .queen-card {
    width: 100%;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.image-container {
  max-height: 300px;
  display: flex;
  justify-content: flex-end;
}

.queen-image {
  max-width: 80%;
  box-shadow: 10px 10px #fd8e01;
  max-height: 350px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #ffde00;
  color: #271466;
}

/* Down arrow courtesy of The Noun Project */
select {
  font-family: inherit;
  color: #271466;
  font-size: 1rem;
  font-weight: bold;
  width: 250px;
  padding: 0.8rem;
  box-sizing: border-box;
  border: 3px solid #ff1192;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('down-arrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 60%, 0 0;
  background-size: 1.3rem;
  background-color: #ffde00;
}

option {
  padding: 0.5rem;
}

.card-body {
  text-align: left;
}

.card-body h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.quote {
  font-style: italic;
  line-height: 1.6;
  font-size: 1.5rem;
}
